@inherits LayoutComponentBase
@implements IDisposable


<div id="page" class="page mainlayout-page">
    @if (isFinished)
    {
        <div class="background">
            <img id="bg-img-ele" src="@Gva.BgImgUrl" class="img" />
        </div>
        <div class="content">
            <div class="sidebar">
                <NavMenu />
            </div>
            <div>
                @Body
            </div>

        </div>
    }
</div>

@code {
    private bool isFinished;

    protected override void OnInitialized()
    {
        NotifierService.Notify += ReceivedEmit;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ComFn.Loading(true);
            isFinished = true;
            StateHasChanged();
            ComFn.Loading(false);
            await Task.Yield();
            await JSRuntime.InvokeVoidAsync("SetMainPageHeight");
        }
    }

    private void ReceivedEmit(string emitName, string action, object? recivedData)
    {
        if (emitName == NotifierEmitNames.BackgoundChange)
        {
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        NotifierService.Notify -= ReceivedEmit;
    }
}